body{
    font-family:"Quicksand",sans-serif;
    margin: 0;      
}
nav{
    margin:15px 35px 25px 35px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

ul {
    list-style: none;
    display:flex;
    justify-content: space-evenly;
}
nav >a{
    margin-right:0%;
    text-decoration: none;
    font-size:32px;
    font-weight: bold;
    

}
li a{
    
    text-decoration: none;
    color: black;
}