@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Send+Flowers&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #6b35ff;
    margin:0 0 2rem 0;
    padding: 2rem 0;
    color:white;
    text-align: center;
}
aside {
    text-align: center;
    margin:1rem auto;
    width:60vw;
    color:white;
    padding:0.8rem;
    background-color:#6b35ff;
    overflow: wrapped;
    border-radius: 6px;
    display:block;
}
aside h2{
    margin:0.7rem 0;    
}
aside input {
    display:block;
    margin:1rem auto;
    height:1.6rem;
    width:50%;
}
.btn-class{
    padding:0.5rem 1.3rem;
    font-size:1rem;
    border:1px solid black;
    border-radius: 4px;
}

#btn-div button:hover{
    background-color: #895eff;
    color:white;
    border-color: #441daf;
    cursor: pointer;
} 
#gamestyle ol{
    display:flex;
    list-style: none;
    padding:0px;
    justify-content: center;
}
#gamestyle li{
    padding:0.8rem;
    margin: 15px;
    width:25%;
    background-color: #dccfff;
    text-align:center;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;

}
#gamestyle li h3{
    color:#3c0cc0;
}
#start-btn{
    padding:0.5rem 1.3rem;
    font-size:1rem;
    border:1px solid rgb(96, 0, 148);
    border-radius: 4px;
    background-color:#895eff;
    color:white;
    margin:0 auto;
    display:block;
    

}
#start-btn:hover{
    cursor: pointer;
    background-color:#6430f4
}
.game-board{
    list-style: none;
    display:grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    justify-content: center;
    padding:0;
    gap:6px;
    margin:25px 0;

}
.game-board li {
    background-color:#ad8fff;
}
.game-board li:hover{
    background-color:#6c36ff;
}
section{
    text-align: center;
}

