@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Send+Flowers&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #6b35ff;
    margin:0 0 2rem 0;
    padding: 0.5rem 0;
    color:white;
    text-align: center;
}

