.parent{
    position:absolute;
    left:50px;
}
.con1{
    width: 100px;
    height: 100px;
    background-color: red;
    position:relative;

}
.con2{
    width: 100px;
    height: 100px;
    background-color:blue;
}
.con3{
    width: 100px;
    height: 100px;
    background-color:yellow;
}