.con1{
    width: 100px;
    height: 100px;
    background-color: red;
}
.con2{
    width: 100px;
    height: 100px;
    background-color:blue;
}
.con3{
    width: 100px;
    height: 100px;
    background-color:yellow;
}