.con1{
    width: 100px;
    height: 100px;
    background-color: red;
    position: static;
    left:15px;
}
.con2{
    width: 100px;
    height: 100px;
    background-color:blue;
}
.con3{
    width: 100px;
    height: 100px;
    background-color:yellow;
}