
#parent{
    margin:32px auto 0;
    display:flex;
    justify-content: center;
    
}

#overlay{
    position:relative;
    right:175px;
    top:25px;
    margin-right: 32px;
}
#login{
    height: 538.84px;
    width:350px;
    border:5px solid rgb(87, 87, 87);
    text-align: center;
    
}