body{
    text-align: center;
}
#parent{
    margin-top:32px;
    display: inline-block;
    
}
#alignment{
    display: inline-block;
}

#overlay{
    position:relative;
    right:175px;
    top:25px;
}
#login{
    height: 538.84px;
    width:350px;
    border:0.5px solid rgb(211, 211, 211);
    display: inline-block;

}