body{
    text-align: center
}
#parent{
    margin:32px auto 0;
    
    
}
img{
    display: inline-block;
}
#overlay{
    position:relative;
    right:175px;
    top:25px;
}
#login{
    height: 538.84px;
    width:350px;
    border:5px solid rgb(87, 87, 87);
}